.footerBarRow {
    width: 100% !important;
    background: #b2a074;
    color: white;
    padding: 15px;
    font-size: 13px;
    /* font-family: VarelaRound; */
    direction: ltr;
}

.copyrightSpan {
    text-align: right;
    direction: rtl;
}

.aboutSite {
    text-align: left;
    direction: ltr;
}

.developerName {
    margin-left: 5px;
    color: #2f4f4f;
    text-decoration: none;
    transition: all .4s;
}

.developerName:hover {
    color: #1e2552;
}

@media (max-width: 767px) {
    .footerBarRow .col-sm-12 {
        text-align: center;
    }

    .footerBarRow .col-sm-12:first-child {
        margin-bottom: 15px;
    }
}