.starChecked {
    color: #ffc107;
}

.recommandCard {
    background: #f5f5f5;
    color: #2a2a2a;
    background-image: url(../../public/svg/review-background.svg);
    background-repeat: no-repeat;
    background-position: top center;
    border-radius: 12px;
    width: 100%;
    padding: 40px 35px;
    text-align: right;
    direction: rtl;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border: 1px solid #e5e5e5;
}

.recommandCard h3 {
    font-weight: bold;
    font-size: 2rem;
}

.subTitle {
    display: flex;
    justify-content: space-between;
}

.cardContent {
    height: 300px;
    overflow: auto;
    padding-left: 15px;
}

.message {
    font-weight: 400;
    margin-bottom: 0;
}

.message ul {
    margin: 10px 0;
    padding-left: 0;
}