.carouselImage {
    width: 100%;
    min-height: 400px;
    height: 85vh;
    object-fit: cover;
}

.carouselCaption {
    color: #ffffff;
    background: #000000a3;
    font-family: 'Alef';
    width: 100%;
    position: absolute;
    right: 0 !important;
    left: 0 !important;
    bottom: 0 !important;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    color: #fff;
    text-align: center;
}

@media(max-width: 1076px) {
    .carouselCaption {
        padding: 10px;
    }
}