.startHeader {
    opacity: 1;
    transform: translateY(0);
    padding: 20px 0;
    box-shadow: 0 10px 30px 0 rgba(138, 155, 165, 0.15);
    background-color: #131313e6;
    color: white;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
}

.navbarBrand {
    display: inline-flex;
}

.navbarBrand div div {
    padding-top: 0 !important;
}

.navbarBrand span:first-child span {
    padding: 0 !important;
}

.navigationWrap {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
}

.navbarBrandTitle {
    margin-right: 20px;
    font-weight: bold;
    font-family: 'Julius Sans One', sans-serif;
}

.navbarBrand img {
    width: auto !important;
    padding: 5px;
    position: relative !important;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
}

@media (max-width: 576px) {
    .navbarContainer {
        padding-right: 30px !important;
        padding-left: 30px !important;
    }
}

.navbarLogoTextDiv {
    position: relative;
}

.navbarLogoTextDiv .navbarLogoText {
    font-family: 'Rubik', sans-serif;
    position: absolute;
    bottom: 0;
    width: max-content;
}

.navbarLogoTextDiv .navbarLogoText {
    text-decoration: none;
}

.navbarLogoText span:first-child {
    color: #4361AD;
    font-size: 24px;
}

.navbarLogoText span:nth-child(2) {
    color: #dfdfdf;
    font-size: 23px;
}

.navbarLogoText span:nth-child(3) {
    font-size: 10px;
    color: #dfdfdf;
    margin-right: 5px;
}

.shine {
    text-align: center;
    background: linear-gradient(to right, #222, #fff);
    background-size: 15px 100%;
    background-clip: initial;
    background-repeat: no-repeat;
    background-position: 0 0;
    animation: shimmer 2s infinite ease-in-out;
    -webkit-animation: shimmer 2s infinite ease-in-out;
}

@-moz-keyframes shimmer {
    0% {
        background-position: top left;
    }

    100% {
        background-position: top right;
    }
}

@-webkit-keyframes shimmer {
    0% {
        background-position: top left;
    }

    100% {
        background-position: top right;
    }
}

@-o-keyframes shimmer {
    0% {
        background-position: top left;
    }

    100% {
        background-position: top right;
    }
}

@keyframes shimmer {
    0% {
        background-position: top left;
    }

    100% {
        background-position: top right;
    }
}