.sliderBody {
    align-items: center;
    background: white;
    display: flex;
    justify-content: center;
    direction: ltr;
}

.slider {
    direction: ltr;
    box-shadow: 0 10px 20px -5px rgb(0 0 0 / 13%);
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 100vw;
}

.slider::before,
.slider::after {
    background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    content: "";
    height: 100px;
    position: absolute;
    width: 200px;
    z-index: 2;
}

.slider::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
    -webkit-transform: rotateZ(180deg);
    -moz-transform: rotateZ(180deg);
    -ms-transform: rotateZ(180deg);
    -o-transform: rotateZ(180deg);
}

.slider::before {
    left: 0;
    top: 0;
}

.slider .slide {
    width: 250px;
    height: 100px;
}

.slider .slide img {
    width: 250px;
    height: 100px;
    object-fit: contain;
}

.slider .slideTrack {
    display: flex;
    width: calc(250px * 14);
    animation: scroll 14s linear infinite;
    -webkit-animation: scroll 14s linear infinite;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-250px * 7));
        -webkit-transform: translateX(calc(-250px * 7));
        -moz-transform: translateX(calc(-250px * 7));
        -ms-transform: translateX(calc(-250px * 7));
        -o-transform: translateX(calc(-250px * 7));
    }
}