.CrossfadeImage {
    max-width: 100%;
    max-height: 100%;
    position: relative;
}

.CrossfadeImage .textOverImg {
    z-index: 2;
    color: white;
    background: #00000073;
    padding: 12px;
    width: 100%;
    opacity: 0;
    position: absolute;
    font-size: 19px;
    font-weight: 100;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
}

.CrossfadeImage:hover .textOverImg {
    opacity: 1;
}

.CrossfadeImage img {
    z-index: 1;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}

.colorsTemplateColorTop {
    max-width: 100%;
    max-height: 100%;
    position: absolute
}

.colorsTemplateColorBottom {
    max-width: 100%;
    max-height: 100%;
}

@media (min-width: 640px) {
    .smGap_6 {
        gap: 1.5rem;
    }
}

.elementsTemplate {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 1rem;
}

@media (max-width: 404px) {
    .elementsTemplate {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

.colorTemplateImgDiv img {
    border-bottom-right-radius: 1rem;
    border-top-left-radius: 1rem;
}

@media (min-width: 640px) {
    .colorTemplateImgDiv img {
        border-bottom-right-radius: 1.5rem;
        border-top-left-radius: 1.5rem;
    }
}

@media (min-width: 1024px) {
    .colorTemplateImgDiv img {
        border-bottom-right-radius: 2rem;
        border-top-left-radius: 2rem;
    }
}

.orderFirst {
    order: -9999;
}