.phoneWidget {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 600;
}

@media (min-width: 1400px) {
    .phoneWidget {
        display: none;
    }
}

.coccocAloPhCircle {
    width: 100px;
    height: 100px;
    top: 105px;
    left: 105px;
    position: absolute;
    background-color: transparent;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    border: 2px solid rgba(30, 30, 30, 0.4);
    opacity: .1;
    -webkit-animation: coccoc-alo-circle-anim 1.2s infinite ease-in-out;
    -moz-animation: coccoc-alo-circle-anim 1.2s infinite ease-in-out;
    -ms-animation: coccoc-alo-circle-anim 1.2s infinite ease-in-out;
    -o-animation: coccoc-alo-circle-anim 1.2s infinite ease-in-out;
    animation: coccoc-alo-circle-anim 1.2s infinite ease-in-out;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.coccocAloPhone {
    background-color: transparent;
    width: 200px;
    height: 200px;
    cursor: pointer;
    backface-visibility: hidden;
    transform: translateZ(0);
    right: 150px;
    top: 30px;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    transition: visibility .5s;
    -webkit-transition: visibility .5s;
    -moz-transition: visibility .5s;
    -o-transition: visibility .5s;
    -ms-transition: visibility .5s;
}

.coccocAloPhone.coccocAloGreen .coccocAloPhCircleFill {
    background-color: #f2ee0080;
    opacity: .75 !important;
}

.coccocAloPhCircleFill {
    width: 70px;
    height: 70px;
    top: 120px;
    left: 120px;
    z-index: 601;
    position: absolute;
    background-color: #000000;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    border: 2px solid transparent;
    opacity: .1;
    -webkit-animation: coccoc-alo-circle-fill-anim 2.3s infinite ease-in-out;
    -moz-animation: coccoc-alo-circle-fill-anim 2.3s infinite ease-in-out;
    -ms-animation: coccoc-alo-circle-fill-anim 2.3s infinite ease-in-out;
    -o-animation: coccoc-alo-circle-fill-anim 2.3s infinite ease-in-out;
    animation: coccoc-alo-circle-fill-anim 2.3s infinite ease-in-out;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.coccocAloPhImgCircle {
    width: 45px;
    height: 45px;
    top: 133px;
    left: 133px;
    position: absolute;
    text-align: -webkit-center;
    align-content: center;
    display: grid;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    border: 2px solid transparent;
    opacity: .7;
    -webkit-animation: coccoc-alo-circle-img-anim 1s infinite ease-in-out;
    -moz-animation: coccoc-alo-circle-img-anim 1s infinite ease-in-out;
    -ms-animation: coccoc-alo-circle-img-anim 1s infinite ease-in-out;
    -o-animation: coccoc-alo-circle-img-anim 1s infinite ease-in-out;
    animation: coccoc-alo-circle-img-anim 1s infinite ease-in-out;
}

.coccocAloPhone.coccocAloGreen .coccocAloPhImgCircle {
    background-color: #c8be7c;
}

.coccocAloPhone.coccocAloGreen .coccocAloPhCircle {
    border-color: #d8cb79;
    opacity: .5;
}

.coccocAloPhone.coccocAloGreen.coccocAloHover .coccocAloPhCircle,
.coccocAloPhone.coccocAloGreen:hover .coccocAloPhCircle {
    border-color: #d8cb79;
    opacity: .5;
}

.coccocAloPhone.coccocAloGreen.coccocAloHover .coccocAloPhCircleFill,
.coccocAloPhone.coccocAloGreen:hover .coccocAloPhCircleFill {
    background-color: #ffdd02;
    opacity: .75 !important;
}

.coccocAloPhone.coccocAloGreen.coccocAloHover .coccocAloPhImgCircle,
.coccocAloPhone.coccocAloGreen:hover .coccocAloPhImgCircle {
    background-color: #cfb929;
}

@-moz-keyframes coccoc-alo-circle-anim {
    0% {
        transform: rotate(0) scale(.5) skew(1deg);
        opacity: .1;
        -webkit-transform: rotate(0) scale(.5) skew(1deg);
        -moz-transform: rotate(0) scale(.5) skew(1deg);
        -ms-transform: rotate(0) scale(.5) skew(1deg);
        -o-transform: rotate(0) scale(.5) skew(1deg);
    }

    30% {
        transform: rotate(0) scale(.7) skew(1deg);
        opacity: .5;
        -webkit-transform: rotate(0) scale(.7) skew(1deg);
        -moz-transform: rotate(0) scale(.7) skew(1deg);
        -ms-transform: rotate(0) scale(.7) skew(1deg);
        -o-transform: rotate(0) scale(.7) skew(1deg);
    }

    100% {
        transform: rotate(0) scale(1) skew(1deg);
        opacity: .1;
        -webkit-transform: rotate(0) scale(1) skew(1deg);
        -moz-transform: rotate(0) scale(1) skew(1deg);
        -ms-transform: rotate(0) scale(1) skew(1deg);
        -o-transform: rotate(0) scale(1) skew(1deg);
    }
}

@-webkit-keyframes coccoc-alo-circle-anim {
    0% {
        transform: rotate(0) scale(.5) skew(1deg);
        opacity: .1;
        -webkit-transform: rotate(0) scale(.5) skew(1deg);
        -moz-transform: rotate(0) scale(.5) skew(1deg);
        -ms-transform: rotate(0) scale(.5) skew(1deg);
        -o-transform: rotate(0) scale(.5) skew(1deg);
    }

    30% {
        transform: rotate(0) scale(.7) skew(1deg);
        opacity: .5;
        -webkit-transform: rotate(0) scale(.7) skew(1deg);
        -moz-transform: rotate(0) scale(.7) skew(1deg);
        -ms-transform: rotate(0) scale(.7) skew(1deg);
        -o-transform: rotate(0) scale(.7) skew(1deg);
    }

    100% {
        transform: rotate(0) scale(1) skew(1deg);
        opacity: .1;
        -webkit-transform: rotate(0) scale(1) skew(1deg);
        -moz-transform: rotate(0) scale(1) skew(1deg);
        -ms-transform: rotate(0) scale(1) skew(1deg);
        -o-transform: rotate(0) scale(1) skew(1deg);
    }
}

@-o-keyframes coccoc-alo-circle-anim {
    0% {
        transform: rotate(0) scale(.5) skew(1deg);
        opacity: .1;
        -webkit-transform: rotate(0) scale(.5) skew(1deg);
        -moz-transform: rotate(0) scale(.5) skew(1deg);
        -ms-transform: rotate(0) scale(.5) skew(1deg);
        -o-transform: rotate(0) scale(.5) skew(1deg);
    }

    30% {
        transform: rotate(0) scale(.7) skew(1deg);
        opacity: .5;
        -webkit-transform: rotate(0) scale(.7) skew(1deg);
        -moz-transform: rotate(0) scale(.7) skew(1deg);
        -ms-transform: rotate(0) scale(.7) skew(1deg);
        -o-transform: rotate(0) scale(.7) skew(1deg);
    }

    100% {
        transform: rotate(0) scale(1) skew(1deg);
        opacity: .1;
        -webkit-transform: rotate(0) scale(1) skew(1deg);
        -moz-transform: rotate(0) scale(1) skew(1deg);
        -ms-transform: rotate(0) scale(1) skew(1deg);
        -o-transform: rotate(0) scale(1) skew(1deg);
    }
}

@keyframes coccoc-alo-circle-anim {
    0% {
        transform: rotate(0) scale(.5) skew(1deg);
        opacity: .1;
        -webkit-transform: rotate(0) scale(.5) skew(1deg);
        -moz-transform: rotate(0) scale(.5) skew(1deg);
        -ms-transform: rotate(0) scale(.5) skew(1deg);
        -o-transform: rotate(0) scale(.5) skew(1deg);
    }

    30% {
        transform: rotate(0) scale(.7) skew(1deg);
        opacity: .5;
        -webkit-transform: rotate(0) scale(.7) skew(1deg);
        -moz-transform: rotate(0) scale(.7) skew(1deg);
        -ms-transform: rotate(0) scale(.7) skew(1deg);
        -o-transform: rotate(0) scale(.7) skew(1deg);
    }

    100% {
        transform: rotate(0) scale(1) skew(1deg);
        opacity: .1;
        -webkit-transform: rotate(0) scale(1) skew(1deg);
        -moz-transform: rotate(0) scale(1) skew(1deg);
        -ms-transform: rotate(0) scale(1) skew(1deg);
        -o-transform: rotate(0) scale(1) skew(1deg);
    }
}

@-moz-keyframes coccoc-alo-circle-fill-anim {
    0% {
        transform: rotate(0) scale(.7) skew(1deg);
        opacity: .2;
        -webkit-transform: rotate(0) scale(.7) skew(1deg);
        -moz-transform: rotate(0) scale(.7) skew(1deg);
        -ms-transform: rotate(0) scale(.7) skew(1deg);
        -o-transform: rotate(0) scale(.7) skew(1deg);
    }

    50% {
        transform: rotate(0) scale(1) skew(1deg);
        opacity: .2;
        -webkit-transform: rotate(0) scale(1) skew(1deg);
        -moz-transform: rotate(0) scale(1) skew(1deg);
        -ms-transform: rotate(0) scale(1) skew(1deg);
        -o-transform: rotate(0) scale(1) skew(1deg);
    }

    100% {
        transform: rotate(0) scale(.7) skew(1deg);
        opacity: .2;
        -webkit-transform: rotate(0) scale(.7) skew(1deg);
        -moz-transform: rotate(0) scale(.7) skew(1deg);
        -ms-transform: rotate(0) scale(.7) skew(1deg);
        -o-transform: rotate(0) scale(.7) skew(1deg);
    }
}

@-webkit-keyframes coccoc-alo-circle-fill-anim {
    0% {
        transform: rotate(0) scale(.7) skew(1deg);
        opacity: .2;
        -webkit-transform: rotate(0) scale(.7) skew(1deg);
        -moz-transform: rotate(0) scale(.7) skew(1deg);
        -ms-transform: rotate(0) scale(.7) skew(1deg);
        -o-transform: rotate(0) scale(.7) skew(1deg);
    }

    50% {
        transform: rotate(0) scale(1) skew(1deg);
        opacity: .2;
        -webkit-transform: rotate(0) scale(1) skew(1deg);
        -moz-transform: rotate(0) scale(1) skew(1deg);
        -ms-transform: rotate(0) scale(1) skew(1deg);
        -o-transform: rotate(0) scale(1) skew(1deg);
    }

    100% {
        transform: rotate(0) scale(.7) skew(1deg);
        opacity: .2;
        -webkit-transform: rotate(0) scale(.7) skew(1deg);
        -moz-transform: rotate(0) scale(.7) skew(1deg);
        -ms-transform: rotate(0) scale(.7) skew(1deg);
        -o-transform: rotate(0) scale(.7) skew(1deg);
    }
}

@-o-keyframes coccoc-alo-circle-fill-anim {
    0% {
        transform: rotate(0) scale(.7) skew(1deg);
        opacity: .2;
        -webkit-transform: rotate(0) scale(.7) skew(1deg);
        -moz-transform: rotate(0) scale(.7) skew(1deg);
        -ms-transform: rotate(0) scale(.7) skew(1deg);
        -o-transform: rotate(0) scale(.7) skew(1deg);
    }

    50% {
        transform: rotate(0) scale(1) skew(1deg);
        opacity: .2;
        -webkit-transform: rotate(0) scale(1) skew(1deg);
        -moz-transform: rotate(0) scale(1) skew(1deg);
        -ms-transform: rotate(0) scale(1) skew(1deg);
        -o-transform: rotate(0) scale(1) skew(1deg);
    }

    100% {
        transform: rotate(0) scale(.7) skew(1deg);
        opacity: .2;
        -webkit-transform: rotate(0) scale(.7) skew(1deg);
        -moz-transform: rotate(0) scale(.7) skew(1deg);
        -ms-transform: rotate(0) scale(.7) skew(1deg);
        -o-transform: rotate(0) scale(.7) skew(1deg);
    }
}

@keyframes coccoc-alo-circle-fill-anim {
    0% {
        transform: rotate(0) scale(.7) skew(1deg);
        opacity: .2;
        -webkit-transform: rotate(0) scale(.7) skew(1deg);
        -moz-transform: rotate(0) scale(.7) skew(1deg);
        -ms-transform: rotate(0) scale(.7) skew(1deg);
        -o-transform: rotate(0) scale(.7) skew(1deg);
    }

    50% {
        transform: rotate(0) scale(1) skew(1deg);
        opacity: .2;
        -webkit-transform: rotate(0) scale(1) skew(1deg);
        -moz-transform: rotate(0) scale(1) skew(1deg);
        -ms-transform: rotate(0) scale(1) skew(1deg);
        -o-transform: rotate(0) scale(1) skew(1deg);
    }

    100% {
        transform: rotate(0) scale(.7) skew(1deg);
        opacity: .2;
        -webkit-transform: rotate(0) scale(.7) skew(1deg);
        -moz-transform: rotate(0) scale(.7) skew(1deg);
        -ms-transform: rotate(0) scale(.7) skew(1deg);
        -o-transform: rotate(0) scale(.7) skew(1deg);
    }
}

@-moz-keyframes coccoc-alo-circle-img-anim {
    0% {
        transform: rotate(0) scale(1) skew(1deg);
        -webkit-transform: rotate(0) scale(1) skew(1deg);
        -moz-transform: rotate(0) scale(1) skew(1deg);
        -ms-transform: rotate(0) scale(1) skew(1deg);
        -o-transform: rotate(0) scale(1) skew(1deg);
    }

    10% {
        transform: rotate(-25deg) scale(1) skew(1deg);
        -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
        -moz-transform: rotate(-25deg) scale(1) skew(1deg);
        -ms-transform: rotate(-25deg) scale(1) skew(1deg);
        -o-transform: rotate(-25deg) scale(1) skew(1deg);
    }

    20% {
        transform: rotate(25deg) scale(1) skew(1deg);
        -webkit-transform: rotate(25deg) scale(1) skew(1deg);
        -moz-transform: rotate(25deg) scale(1) skew(1deg);
        -ms-transform: rotate(25deg) scale(1) skew(1deg);
        -o-transform: rotate(25deg) scale(1) skew(1deg);
    }

    30% {
        transform: rotate(-25deg) scale(1) skew(1deg);
        -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
        -moz-transform: rotate(-25deg) scale(1) skew(1deg);
        -ms-transform: rotate(-25deg) scale(1) skew(1deg);
        -o-transform: rotate(-25deg) scale(1) skew(1deg);
    }

    40% {
        transform: rotate(25deg) scale(1) skew(1deg);
        -webkit-transform: rotate(25deg) scale(1) skew(1deg);
        -moz-transform: rotate(25deg) scale(1) skew(1deg);
        -ms-transform: rotate(25deg) scale(1) skew(1deg);
        -o-transform: rotate(25deg) scale(1) skew(1deg);
    }

    50% {
        transform: rotate(0) scale(1) skew(1deg);
        -webkit-transform: rotate(0) scale(1) skew(1deg);
        -moz-transform: rotate(0) scale(1) skew(1deg);
        -ms-transform: rotate(0) scale(1) skew(1deg);
        -o-transform: rotate(0) scale(1) skew(1deg);
    }

    100% {
        transform: rotate(0) scale(1) skew(1deg);
        -webkit-transform: rotate(0) scale(1) skew(1deg);
        -moz-transform: rotate(0) scale(1) skew(1deg);
        -ms-transform: rotate(0) scale(1) skew(1deg);
        -o-transform: rotate(0) scale(1) skew(1deg);
    }
}

@-webkit-keyframes coccoc-alo-circle-img-anim {
    0% {
        transform: rotate(0) scale(1) skew(1deg);
        -webkit-transform: rotate(0) scale(1) skew(1deg);
        -moz-transform: rotate(0) scale(1) skew(1deg);
        -ms-transform: rotate(0) scale(1) skew(1deg);
        -o-transform: rotate(0) scale(1) skew(1deg);
    }

    10% {
        transform: rotate(-25deg) scale(1) skew(1deg);
        -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
        -moz-transform: rotate(-25deg) scale(1) skew(1deg);
        -ms-transform: rotate(-25deg) scale(1) skew(1deg);
        -o-transform: rotate(-25deg) scale(1) skew(1deg);
    }

    20% {
        transform: rotate(25deg) scale(1) skew(1deg);
        -webkit-transform: rotate(25deg) scale(1) skew(1deg);
        -moz-transform: rotate(25deg) scale(1) skew(1deg);
        -ms-transform: rotate(25deg) scale(1) skew(1deg);
        -o-transform: rotate(25deg) scale(1) skew(1deg);
    }

    30% {
        transform: rotate(-25deg) scale(1) skew(1deg);
        -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
        -moz-transform: rotate(-25deg) scale(1) skew(1deg);
        -ms-transform: rotate(-25deg) scale(1) skew(1deg);
        -o-transform: rotate(-25deg) scale(1) skew(1deg);
    }

    40% {
        transform: rotate(25deg) scale(1) skew(1deg);
        -webkit-transform: rotate(25deg) scale(1) skew(1deg);
        -moz-transform: rotate(25deg) scale(1) skew(1deg);
        -ms-transform: rotate(25deg) scale(1) skew(1deg);
        -o-transform: rotate(25deg) scale(1) skew(1deg);
    }

    50% {
        transform: rotate(0) scale(1) skew(1deg);
        -webkit-transform: rotate(0) scale(1) skew(1deg);
        -moz-transform: rotate(0) scale(1) skew(1deg);
        -ms-transform: rotate(0) scale(1) skew(1deg);
        -o-transform: rotate(0) scale(1) skew(1deg);
    }

    100% {
        transform: rotate(0) scale(1) skew(1deg);
        -webkit-transform: rotate(0) scale(1) skew(1deg);
        -moz-transform: rotate(0) scale(1) skew(1deg);
        -ms-transform: rotate(0) scale(1) skew(1deg);
        -o-transform: rotate(0) scale(1) skew(1deg);
    }
}

@-o-keyframes coccoc-alo-circle-img-anim {
    0% {
        transform: rotate(0) scale(1) skew(1deg);
        -webkit-transform: rotate(0) scale(1) skew(1deg);
        -moz-transform: rotate(0) scale(1) skew(1deg);
        -ms-transform: rotate(0) scale(1) skew(1deg);
        -o-transform: rotate(0) scale(1) skew(1deg);
    }

    10% {
        transform: rotate(-25deg) scale(1) skew(1deg);
        -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
        -moz-transform: rotate(-25deg) scale(1) skew(1deg);
        -ms-transform: rotate(-25deg) scale(1) skew(1deg);
        -o-transform: rotate(-25deg) scale(1) skew(1deg);
    }

    20% {
        transform: rotate(25deg) scale(1) skew(1deg);
        -webkit-transform: rotate(25deg) scale(1) skew(1deg);
        -moz-transform: rotate(25deg) scale(1) skew(1deg);
        -ms-transform: rotate(25deg) scale(1) skew(1deg);
        -o-transform: rotate(25deg) scale(1) skew(1deg);
    }

    30% {
        transform: rotate(-25deg) scale(1) skew(1deg);
        -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
        -moz-transform: rotate(-25deg) scale(1) skew(1deg);
        -ms-transform: rotate(-25deg) scale(1) skew(1deg);
        -o-transform: rotate(-25deg) scale(1) skew(1deg);
    }

    40% {
        transform: rotate(25deg) scale(1) skew(1deg);
        -webkit-transform: rotate(25deg) scale(1) skew(1deg);
        -moz-transform: rotate(25deg) scale(1) skew(1deg);
        -ms-transform: rotate(25deg) scale(1) skew(1deg);
        -o-transform: rotate(25deg) scale(1) skew(1deg);
    }

    50% {
        transform: rotate(0) scale(1) skew(1deg);
        -webkit-transform: rotate(0) scale(1) skew(1deg);
        -moz-transform: rotate(0) scale(1) skew(1deg);
        -ms-transform: rotate(0) scale(1) skew(1deg);
        -o-transform: rotate(0) scale(1) skew(1deg);
    }

    100% {
        transform: rotate(0) scale(1) skew(1deg);
        -webkit-transform: rotate(0) scale(1) skew(1deg);
        -moz-transform: rotate(0) scale(1) skew(1deg);
        -ms-transform: rotate(0) scale(1) skew(1deg);
        -o-transform: rotate(0) scale(1) skew(1deg);
    }
}

@keyframes coccoc-alo-circle-img-anim {
    0% {
        transform: rotate(0) scale(1) skew(1deg);
        -webkit-transform: rotate(0) scale(1) skew(1deg);
        -moz-transform: rotate(0) scale(1) skew(1deg);
        -ms-transform: rotate(0) scale(1) skew(1deg);
        -o-transform: rotate(0) scale(1) skew(1deg);
    }

    10% {
        transform: rotate(-25deg) scale(1) skew(1deg);
        -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
        -moz-transform: rotate(-25deg) scale(1) skew(1deg);
        -ms-transform: rotate(-25deg) scale(1) skew(1deg);
        -o-transform: rotate(-25deg) scale(1) skew(1deg);
    }

    20% {
        transform: rotate(25deg) scale(1) skew(1deg);
        -webkit-transform: rotate(25deg) scale(1) skew(1deg);
        -moz-transform: rotate(25deg) scale(1) skew(1deg);
        -ms-transform: rotate(25deg) scale(1) skew(1deg);
        -o-transform: rotate(25deg) scale(1) skew(1deg);
    }

    30% {
        transform: rotate(-25deg) scale(1) skew(1deg);
        -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
        -moz-transform: rotate(-25deg) scale(1) skew(1deg);
        -ms-transform: rotate(-25deg) scale(1) skew(1deg);
        -o-transform: rotate(-25deg) scale(1) skew(1deg);
    }

    40% {
        transform: rotate(25deg) scale(1) skew(1deg);
        -webkit-transform: rotate(25deg) scale(1) skew(1deg);
        -moz-transform: rotate(25deg) scale(1) skew(1deg);
        -ms-transform: rotate(25deg) scale(1) skew(1deg);
        -o-transform: rotate(25deg) scale(1) skew(1deg);
    }

    50% {
        transform: rotate(0) scale(1) skew(1deg);
        -webkit-transform: rotate(0) scale(1) skew(1deg);
        -moz-transform: rotate(0) scale(1) skew(1deg);
        -ms-transform: rotate(0) scale(1) skew(1deg);
        -o-transform: rotate(0) scale(1) skew(1deg);
    }

    100% {
        transform: rotate(0) scale(1) skew(1deg);
        -webkit-transform: rotate(0) scale(1) skew(1deg);
        -moz-transform: rotate(0) scale(1) skew(1deg);
        -ms-transform: rotate(0) scale(1) skew(1deg);
        -o-transform: rotate(0) scale(1) skew(1deg);
    }
}