.contact-us-header {
    text-align: center;
    font-size: 40px;
    margin-bottom: auto;
}

.contact-us-subtitle {
    font-size: 20px;
    color: #a0a0a0;
}

.contact-us-form-main {
    padding: 10px 10px;
    margin: 44px auto;
}

.contact-us-info-panel {
    background: linear-gradient(45deg, #002338, #475c8c);
    margin: 0;
    padding: 35px 20px;
    border-radius: 10px;
    color: white;
    position: relative;
}

.contact-us-info-panel h4 {
    text-align: left;
}

.contact-us-info-panel p {
    color: #b7b7b7;
    font-weight: 400;
    text-align: left;
    padding: 20px 0;
}

.contact-us-info-table {
    margin: 25px 0;
}

.contact-us-info-table td {
    text-align: left;
    padding-bottom: 2em;
    word-break: break-word;
}

.contact-us-info-table td:first-child {
    color: #ffbd6b;
}

.socials-contact-us .zmdi {
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
}

.socials-contact-us .zmdi-facebook:hover {
    background: #3b5998;
}

.socials-contact-us .zmdi-youtube-play:hover {
    background: #FF0000;
}

.socials-contact-us .zmdi-instagram:hover {
    background: #eb4c81;
}

.contactUsFieldset {
    display: flex;
}

.contactUsFormInput {
    width: 50%;
}

.contactUs2ndFieldset .form-element {
    margin-top: 15px;
}

.contactUsForm {
    /* margin-right: 40px;
    margin-left: 40px; */
    margin: auto;
}

.contact-us-form-container {
    display: flex;
}

@media screen and (min-width: 1200px) {
    .contact-us-form-container {
        max-width: 80%;
    }
}

@media screen and (min-width: 612px) and (max-width: 1200px) {
    .contact-us-form-container {
        width: calc(100% - 30px);
        max-width: 100%;
    }
}

@media screen and (max-width: 612px) {
    .contact-us-form-container {
        margin: 0;
        width: 100%;
        display: block;
    }
    .contactUsForm {
        padding: 0;
        margin: 20px;
    }
    .contactUsFieldset {
        display: contents;
    }
    .contactUsFormInput {
        width: 100%;
    }
}

.contact-us-info-table a {
    color: inherit;
    text-decoration: inherit;
}

.contactUsSuccesMsg {
    margin: auto 20px;
    font-size: 23px;
    padding: 10px;
    white-space: break-spaces;
}

.succesMsg {
    color: #9c811d;
}

.errorMsg {
    color: #d9534f;
}

.errorMsgBackground {
    background: #ffe8e7;
    padding: 5px;
}

.succesMsgBackground {
    background: white;
    padding: 8px 15px;
}

.contactUsSuccesSubmsg {
    font-size: 18px;
}

.contactUsErrorMsg {
    margin-top: 10px;
}

.contactUsRotateLoader {
    margin: 30px auto;
}

@media screen and (min-width: 768px) and (max-width: 1500px) {
    .contactUsForm {
        margin: auto 30px;
    }
}

.contactUsFormSubmitDiv {
    margin-bottom: 20px;
}

.contact-us-our-info {
    color: white;
    transition: color .5s;
}

.contact-us-our-info:hover {
    color: rgb(198, 223, 255);
}

.contactUsTypeOfRequestTitle {
    color: #b7a333 !important;
    font-family: inherit !important;
    letter-spacing: 1px !important;
}

.formAccountIcon {
    color: #ddd5a7;
    margin-left: 10px;
    font-size: 13px;
}
