.contactTeamContainer {
    margin: 120px 0;
    padding: 120px 0;
    background: #ececec;
}

.contactTeamContainer h1 {
    color: var(--gold-primary);
    font-family: "Julius Sans One", "Alef";
    margin-bottom: 0;
}

.contactTeamContainer p {
    margin-top: 26px;
    margin-bottom: 50px;
    color: #444444;
    font-size: 19px;
}

.contactTeamContainer a {
    background: black;
    color: white !important;
    text-decoration: none;
    outline: none;
    border: none;
    padding: 10px 100px;
    border-radius: 22px;
    font-size: 18px;
    font-family: inherit;
    letter-spacing: 2px;
    transition: background 0.4s;
    -webkit-transition: background 0.4s;
    -moz-transition: background 0.4s;
    -ms-transition: background 0.4s;
    -o-transition: background 0.4s;
}

@media (max-width: 400px) {
    .contactTeamContainer a {
        padding: 10px 60px;
    }
}