.articlesRow {
    row-gap: 40px;
}

.articleCard {
    text-align: right;
    direction: rtl;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    cursor: pointer;
    transition: box-shadow 0.22s ease-out;
    -webkit-transition: box-shadow 0.22s ease-out;
    -moz-transition: box-shadow 0.22s ease-out;
    -ms-transition: box-shadow 0.22s ease-out;
    -o-transition: box-shadow 0.22s ease-out;
}

.articleCard:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.companyLogoSymbol {
    width: 100%;
    max-width: 20px;
}

.articleContent ul {
    margin-top: 10px;
    list-style: circle;
}

.articleContent ul li {
    margin: 10px 0;
}

.articleFooter {
    display: flex;
    flex-direction: row-reverse;
    background: white;
}

.articleCardSubTitle {
    width: 100%;
    direction: rtl;
    text-align: right;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    font-size: 14px;
    overflow: hidden;
    margin-top: 17px;
}

.articleMainDiv {
    background: white;
}

.articleContainer {
    text-align: right;
    padding: 0 30px 30px 30px;
}

.articleTitle {
    color: var(--gold-primary);
    margin-bottom: 20px;
    font-size: 50px;
    font-weight: 300;
}

.articleStartParagraph {
    font-size: 20px;
    white-space: pre-line;
    line-height: 2.3rem;
}

.articleParagraph {
    font-size: 18px;
    word-spacing: 2px;
    letter-spacing: 0.4px;
    line-height: 2rem;
    white-space: pre-line;
}

.articleSectionTitle {
    color: var(--gold-dark);
    margin-bottom: 15px;
    font-size: 33px;
    font-weight: 300;
}

.backAndNextArticleBtnsDiv {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-top: 20px;
}

.backAndNextArticleBtnsDiv button {
    display: flex;
    justify-content: space-evenly;
    outline: none;
    border: 1px solid #d6d6d6;
    border-radius: 10px;
    width: 200px;
    padding: 10px 0px;
    background: rgb(255, 255, 255);
    color: black;
    font-size: 16px;
    font-family: 'Alef';
    transition: all 0.2s ease-in-out;
}

.backAndNextArticleBtnsDiv button:hover {
    background: floralwhite;
}

.backAndNextArticleBtnsDiv button i {
    margin-top: 4px;
}

.sperator {
    height: 1px;
    width: 100%;
    background: #c6c6c6;
    margin-top: 40px;
}

.centerCon {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.roundPrev,
.roundNext {
    position: absolute;
    border: none;
    width: 105px;
    height: 40px;
    border-radius: 100%;
}

@media (max-width: 768px) {
    .backAndNextArticleBtnsDiv button {
        width: 150px;
    }

    .backAndNextArticleBtnsDiv {
        justify-content: center;
    }
}

.cta {
    width: 100%;
    cursor: pointer;
    position: absolute;
}

.cta .arrowPrev,
.cta .arrowNext {
    left: 30%;
}

.arrowPrev,
.arrowNext {
    position: absolute;
    margin-left: 2px;
    width: 30px;
    height: 30px;
    top: 19px;
}

.segundaPrev,
.segundaNext {
    margin-left: 10px;
}

/* Right Arrow (Previous) */

@keyframes bounceRight {
    0% {
        opacity: 1;
        transform: translateX(0px) scale(1);
        -webkit-transform: translateX(0px) scale(1);
        -moz-transform: translateX(0px) scale(1);
        -ms-transform: translateX(0px) scale(1);
        -o-transform: translateX(0px) scale(1);
    }

    25% {
        opacity: 0;
        transform: translateX(10px) scale(0.9);
        -webkit-transform: translateX(10px) scale(0.9);
        -moz-transform: translateX(10px) scale(0.9);
        -ms-transform: translateX(10px) scale(0.9);
        -o-transform: translateX(10px) scale(0.9);
    }

    26% {
        opacity: 0;
        transform: translateX(-10px) scale(0.9);
        -webkit-transform: translateX(-10px) scale(0.9);
        -moz-transform: translateX(-10px) scale(0.9);
        -ms-transform: translateX(-10px) scale(0.9);
        -o-transform: translateX(-10px) scale(0.9);
    }

    55% {
        opacity: 1;
        transform: translateX(0px) scale(1);
        -webkit-transform: translateX(0px) scale(1);
        -moz-transform: translateX(0px) scale(1);
        -ms-transform: translateX(0px) scale(1);
        -o-transform: translateX(0px) scale(1);
    }
}

.bounceRight {
    animation-name: bounceRight;
    animation-duration: 1.4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.arrowPrev.primeraPrev.bounceRight {
    animation-name: bounceRight;
    animation-duration: 1.4s;
    animation-delay: 0.2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.prevBtn:hover .roundPrev .arrowPrev {
    animation-name: bounceRight;
    animation-duration: 1.4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.prevBtn:hover .roundPrev .arrowPrev.primeraPrev {
    animation-name: bounceRight;
    animation-duration: 1.4s;
    animation-delay: 0.2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

/* Left Arrow (Next) */

@keyframes bounceLeft {
    0% {
        opacity: 1;
        transform: translateX(0) scale(1);
        -webkit-transform: translateX(0) scale(1);
        -moz-transform: translateX(0) scale(1);
        -ms-transform: translateX(0) scale(1);
        -o-transform: translateX(0) scale(1);
    }

    25% {
        opacity: 0;
        transform: translateX(-10px) scale(0.9);
        -webkit-transform: translateX(-10px) scale(0.9);
        -moz-transform: translateX(-10px) scale(0.9);
        -ms-transform: translateX(-10px) scale(0.9);
        -o-transform: translateX(-10px) scale(0.9);
    }

    26% {
        opacity: 0;
        transform: translateX(10px) scale(0.9);
        -webkit-transform: translateX(10px) scale(0.9);
        -moz-transform: translateX(10px) scale(0.9);
        -ms-transform: translateX(10px) scale(0.9);
        -o-transform: translateX(10px) scale(0.9);
    }

    55% {
        opacity: 1;
        transform: translateX(0px) scale(1);
        -webkit-transform: translateX(0px) scale(1);
        -moz-transform: translateX(0px) scale(1);
        -ms-transform: translateX(0px) scale(1);
        -o-transform: translateX(0px) scale(1);
    }
}

.bounceLeft {
    animation-name: bounceLeft;
    animation-duration: 1.4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.arrowNext.segundaNext.bounceLeft {
    animation-name: bounceLeft;
    animation-duration: 1.4s;
    animation-delay: 0.2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.nextBtn:hover .roundNext .arrowNext {
    animation-name: bounceLeft;
    animation-duration: 1.4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.nextBtn:hover .roundNext .arrowNext.segundaNext {
    animation-name: bounceLeft;
    animation-duration: 1.4s;
    animation-delay: 0.2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

/* New Card */

.card {
    width: 100%;
    background-color: white;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);
}

.card:hover .cardCaption {
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

.card:hover .cardImage {
    transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
}

.card:hover .cardThumb::after {
    top: 0;
}

.card:hover .cardSnippet {
    margin: 20px 0;
}

.cardThumb {
    position: relative;
    height: 500px;
    overflow: hidden;
}

.cardThumb::after {
    position: absolute;
    top: calc(100% - 140px);
    display: block;
    content: '';
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(0, 0, 0, .5) 40%, rgba(255, 255, 255, 0) 100%);
    transition: 0.3s;
}

.cardImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s ease-in-out;
}

.cardCaption {
    position: absolute;
    z-index: 1;
    padding: 0 20px;
    color: white;
    text-align: center;
    transition: 0.3s;
    top: calc(100% - 110px);
    transform: unset;
    -webkit-transform: unset;
    -moz-transform: unset;
    -ms-transform: unset;
    -o-transform: unset;
}

.cardTitle {
    display: -webkit-box;
    max-height: 110px;
    overflow: hidden;
    font-size: 23px;
    line-height: 28px;
    text-shadow: 0px 1px 5px black;
    color: white;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    padding: 7px 10px;
    font-weight: 300;
    height: 110px;
}

.cardSnippet {
    display: -webkit-box;
    max-height: 150px;
    margin: 20px 0;
    overflow: hidden;
    font-size: 16px;
    line-height: 20px;
    text-overflow: ellipsis;
    transition: 0.5s ease-in-out;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    margin: 60px 0;
}

.cardButton {
    display: inline-block;
    padding: 10px 20px;
    color: white;
    border: 1px solid white;
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: none;
    transition: 0.3s;
}

.cardButton:hover {
    color: black;
    background-color: white;
}