.articlesRow {
    row-gap: 40px;
}

.articleCard {
    text-align: right;
    direction: rtl;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    cursor: pointer;
    transition: box-shadow 0.22s ease-out;
    -webkit-transition: box-shadow 0.22s ease-out;
    -moz-transition: box-shadow 0.22s ease-out;
    -ms-transition: box-shadow 0.22s ease-out;
    -o-transition: box-shadow 0.22s ease-out;
}

.articleCard:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.companyLogoSymbol {
    width: 100%;
    max-width: 20px;
}

.articleFooter {
    display: flex;
    flex-direction: row-reverse;
    background: white;
}

.articleCardSubTitle {
    width: 100%;
    direction: rtl;
    text-align: right;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    font-size: 15px;
    overflow: hidden;
    margin-top: 17px;
}

.cardTitle {
    color: #caa859;
    padding: 7px 10px;
    font-weight: 300;
    height: 110px;
    border-bottom: 1px solid #b0914b;
    font-size: 22px;
}

.articleContainer {
    text-align: right;
}

.articleTitle {
    color: var(--gold-primary);
    margin-bottom: 20px;
    font-size: 42px;
    font-weight: 300;
}

.articleStartParagraph {
    font-size: 18px;
}

.articleSectionTitle {
    color: var(--gold-dark);
    margin-bottom: 15px;
    font-size: 33px;
    font-weight: 300;
}

.backAndNextArticleBtnsDiv {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-top: 20px;
}

.backAndNextArticleBtnsDiv button {
    display: flex;
    justify-content: space-evenly;
    outline: none;
    border: 1px solid #d6d6d6;
    border-radius: 10px;
    width: 200px;
    padding: 10px 0px;
    background: floralwhite;
    color: black;
    font-size: 16px;
    font-family: 'Alef';
}

.backAndNextArticleBtnsDiv button i {
    margin-top: 4px;
}

.sperator {
    height: 1px;
    width: 100%;
    background: #c6c6c6;
    margin-top: 40px;
}

/*  */

.centerCon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.round {
    position: absolute;
    border: none;
    width: 105px;
    height: 40px;
    border-radius: 100%;

}

.cta {
    width: 100%;
    cursor: pointer;
    position: absolute;
}

.cta .arrow {
    left: 30%;
}

.arrow {
    position: absolute;
    margin-left: 2px;
    width: 30px;
    height: 30px;
    background-size: contain;
    top: 19px;
    background-repeat: no-repeat;
}

.segunda {
    margin-left: 10px;
}

.prev {
    background-image: url(https://icon-library.com/images/right-arrow-icon/right-arrow-icon-3.jpg);
}

.next {
    background-image: url(https://icon-library.com/images/right-arrow-icon/right-arrow-icon-3.jpg);
}

@keyframes bounceAlpha {
    0% {
        opacity: 1;
        transform: translateX(0px) scale(1);
        -webkit-transform: translateX(0px) scale(1);
        -moz-transform: translateX(0px) scale(1);
        -ms-transform: translateX(0px) scale(1);
        -o-transform: translateX(0px) scale(1);
    }

    25% {
        opacity: 0;
        transform: translateX(10px) scale(0.9);
        -webkit-transform: translateX(10px) scale(0.9);
        -moz-transform: translateX(10px) scale(0.9);
        -ms-transform: translateX(10px) scale(0.9);
        -o-transform: translateX(10px) scale(0.9);
    }

    26% {
        opacity: 0;
        transform: translateX(-10px) scale(0.9);
        -webkit-transform: translateX(-10px) scale(0.9);
        -moz-transform: translateX(-10px) scale(0.9);
        -ms-transform: translateX(-10px) scale(0.9);
        -o-transform: translateX(-10px) scale(0.9);
    }

    55% {
        opacity: 1;
        transform: translateX(0px) scale(1);
        -webkit-transform: translateX(0px) scale(1);
        -moz-transform: translateX(0px) scale(1);
        -ms-transform: translateX(0px) scale(1);
        -o-transform: translateX(0px) scale(1);
    }
}

.bounceAlpha {
    animation-name: bounceAlpha;
    animation-duration: 1.4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.arrow.primera.bounceAlpha {
    animation-name: bounceAlpha;
    animation-duration: 1.4s;
    animation-delay: 0.2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.prevBtn:hover .round .arrow {
    animation-name: bounceAlpha;
    animation-duration: 1.4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.prevBtn:hover .round .arrow.primera {
    animation-name: bounceAlpha;
    animation-duration: 1.4s;
    animation-delay: 0.2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}