.doorSelectedDetailsExampleImg {
  padding: 10px;
}

.doorSelectedMainDiv {
  width: 100%;
  height: auto;
  min-height: 300px;
  object-fit: cover;
}

.doorSelectedBackBtn {
  float: left;
  cursor: pointer !important;
  color: black;
  outline: none;
  border: none;
  background: none;
  display: table-cell;
  font-family: "Alef";
  font-size: 20px;
  padding: 45px 0;
  font-weight: bold;
  letter-spacing: 2px;
  transition: color 0.4s;
}

.doorSelectedBackBtn:hover {
  color: #b2a074;
}

.doorSelectedNameDiv {
  text-align: right;
  color: #caaf6d;
  position: relative;
  font-family: "Julius Sans One", "Alef";
}

.doorSelectedSeperator {
  width: 50% !important;
}

.doorSelectedDoorDetails {
  text-align: right;
}

.doorSelectedDoorDetails h6 {
  letter-spacing: 2px;
  margin-bottom: 30px;
}

.doorSelectedDoorDetails p {
  font-size: 19px;
  font-weight: 100;
}

.door-selected-details-example-img {
  width: 100%;
}

.doorSelectedHorizontalImages img {
  display: grid;
  grid-auto-flow: row;
  gap: 1rem;
}

.doorSelectedContactUsDiv {
  margin: 120px 0;
  padding: 120px 0;
  background: #ececec;
}

.doorSelectedContactUsDiv h1 {
  color: #caaf6d;
  font-family: "Julius Sans One", "Alef";
  margin-bottom: 0;
}

.doorSelectedContactUsDiv p {
  margin-top: 26px;
  margin-bottom: 50px;
  color: #444444;
  font-size: 19px;
}

.doorSelectedContactUsDiv a {
  background: black;
  color: white !important;
  text-decoration: none;
  outline: none;
  border: none;
  padding: 10px 100px;
  border-radius: 22px;
  font-size: 18px;
  font-family: inherit;
  letter-spacing: 2px;
  transition: background 0.4s;
}

.doorSelectedContactUsDiv a:hover {
  background: #caaf6d;
}

@keyframes showTopText {
  0% {
    transform: translate3d(0, 100%, 0);
    -webkit-transform: translate3d(0, 100%, 0);
    -moz-transform: translate3d(0, 100%, 0);
    -ms-transform: translate3d(0, 100%, 0);
    -o-transform: translate3d(0, 100%, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes showBottomText {
  0% {
    transform: translate3d(0, -100%, 0);
  }

  100% {
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
  }
}

.animatedTitle {
  color: #ad9f4e;
  height: 10rem;
  margin-top: 2rem;
  left: 64%;
  position: absolute;
  top: 80%;
  transform: translate(-50%, -50%);
  width: 45rem;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.animatedTitle>div {
  height: 50%;
  overflow: hidden;
  position: absolute;
  width: 100%;
}

.animatedTitle>div div {
  font-size: 70px;
  position: absolute;
}

.animatedTitle>div div span {
  display: block;
}

.animatedTitle>div.textTop {
  border-bottom: 3px solid #5a5a5a;
  top: 0;
}

.animatedTitle>div.textTop div {
  animation: showTopText 1s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  bottom: 0;
  transform: translate(0, 100%);
}

.animatedTitle>div.textTop div span:first-child {
  color: #5a5a5a;
}

.animatedTitle>div.textBottom {
  bottom: 0;
}

.animatedTitle>div.textBottom div {
  animation: showBottomText 0.5s;
  animation-delay: 1.75s;
  animation-fill-mode: forwards;
  top: 0;
  transform: translate(0, -100%);
}