.doorSelectedDetailsExampleImg {
  padding: 10px;
}

.doorSelectedMainDiv {
  width: 100%;
  height: auto;
  min-height: 300px;
}

.doorSelectedBackBtn {
  cursor: pointer !important;
  color: black;
  outline: none;
  border: none;
  background: none;
  display: table-cell;
  margin-right: auto;
  margin-left: 0;
  font-family: "Alef";
  font-size: 20px;
  padding: 45px 0;
  font-weight: bold;
  letter-spacing: 2px;
  transition: color 0.4s;
}

.doorSelectedBackBtn:hover {
  color: #b2a074;
}

.doorSelectedNameDiv {
  text-align: right;
  color: #caaf6d;
  font-family: "Julius Sans One", "Alef";
}

.doorSelectedSeperator {
  width: 50% !important;
}

.doorSelectedDoorInfo {
  text-align: right;
}

.doorSelectedDoorInfo h6 {
  margin-bottom: 5px;
  letter-spacing: 2px;
}

.doorSelectedDoorInfo p {
  font-family: "Julius Sans One", system-ui;
  font-weight: 100;
}

.doorSelectedDoorDetails {
  margin: 80px 0;
  text-align: right;
}

.doorSelectedDoorDetails h6 {
  letter-spacing: 2px;
  margin-bottom: 30px;
}

.doorSelectedDoorDetails p {
  font-size: 19px;
  font-weight: 100;
}

.door-selected-details-example-img {
  width: 100%;
}

.doorSelectedHorizontalImages img {
  display: grid;
  grid-auto-flow: row;
  gap: 1rem;
}

.doorSelectedContactUsDiv {
  margin: 120px 0;
  padding: 120px 0;
  background: #ececec;
}

.doorSelectedContactUsDiv h1 {
  color: #caaf6d;
  font-family: "Julius Sans One", "Alef";
  margin-bottom: 0;
}

.doorSelectedContactUsDiv p {
  margin-top: 26px;
  margin-bottom: 50px;
  color: #444444;
  font-size: 19px;
}

.doorSelectedContactUsDiv a {
  background: black;
  color: white !important;
  text-decoration: none;
  outline: none;
  border: none;
  padding: 10px 100px;
  border-radius: 22px;
  font-size: 18px;
  font-family: inherit;
  letter-spacing: 2px;
  transition: background 0.4s;
}

.doorSelectedContactUsDiv a:hover {
  background: #caaf6d;
}
