@import url("https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&subset=devanagari,latin-ext");
@import url("https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alef&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@700&display=swap');

* {
  box-sizing: border-box;
}

main {
  text-align: center;
  direction: rtl;
}

html,
body,
#__next,
main {
  margin: 0 auto;
  width: 100%;
  min-height: 100%;
  color: black;
  background-color: #f7f7f5 !important;
  scroll-behavior: smooth;
}

#root {
  width: 100%;
}

:root {
  --gold-primary: #ceaa36;
  --gold-secondary: #b2a074;
  --gold-light: #e9c373;
  --gold-dark: #bf953f;
}

body>#root>div {
  min-height: 100vh !important;
}

body {
  position: relative;
  direction: rtl;
  margin: 0;
  min-height: 100%;
  right: 0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0 !important;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  background-position: center;
  background-repeat: repeat;
  background-size: 7%;
  transition: all 200ms linear;
  -webkit-transition: all 200ms linear;
  -moz-transition: all 200ms linear;
  -ms-transition: all 200ms linear;
  -o-transition: all 200ms linear;
}

::selection {
  color: #fff;
  background-color: #cebb52;
}

::-moz-selection {
  color: #fff;
  background-color: #cebb52;
}

/* width */

::-webkit-scrollbar {
  width: 0.4em;
}

/* Track */

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */

::-webkit-scrollbar-thumb {
  background: #cbcbcb;
  border-radius: 10px;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
  background: rgb(149, 149, 149);
}

@font-face {
  font-family: VarelaRound;
  src: local("VarelaRound"),
    url(/src/assets/fonts/VarelaRound/VarelaRound.woff) format("woff"),
    url(/src/assets/fonts/VarelaRound/VarelaRound.eot) format("embedded-opentype"),
    url(/src/assets/fonts/VarelaRound/VarelaRound.woff2) format("woff2"),
    url(/src/assets/fonts/VarelaRound/VarelaRound.ttf) format("truetype"),
    url(/src/assets/fonts/VarelaRound/VarelaRound.svg) format("svg");
}

.modal-dialog-margin-top {
  margin-top: 100px !important;
}

.MuiDialog-container {
  height: 90% !important;
  margin-top: 70px !important;
  outline: 0;
}

.dir-ltr {
  direction: ltr;
}

.dir-rtl {
  direction: rtl;
}

.main {
  padding: 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  width: 100%;
  text-align-last: center;
  background: #161616;
  color: white;
  display: block;
  justify-content: center;
  align-items: center;
}

.full-height {
  height: 100vh;
}

.absolute-center {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  margin-top: 40px;
  transform: translateY(-50%);
  z-index: 20;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

.separator {
  background: #b3a073;
  display: inline-block;
  height: 1px;
  width: 48px;
  margin: auto;
}

.undragablle-image {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -webkit-user-drag: none;
}

.no-href-css {
  text-decoration: none !important;
  color: inherit !important;
}

.reverse-flex-direction {
  flex-direction: row-reverse;
}

/* 404 page */

.contPrincipal {
  margin: 0px auto;
  padding: 0px;
  text-align: center;
  background-color: #333333;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.contErrorActive>.contError>h1 {
  left: 0%;
}

.contErrorActive>.contError>p {
  left: 0%;
}

.contErrorActive>.contAura2 {
  animation-name: animation_error_2;
  animation-duration: 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  transform: rotate(-20deg);
}

.contErrorActive>.contAura1 {
  transform: rotate(20deg);
  right: -170px;
  animation-name: animation_error_1;
  animation-duration: 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

/* Carousel - Products Title */

.carousel {
  background: #bda286;
  margin-top: 8rem;
}

.carousel-item p {
  font-size: 19px;
}

.carousel .carousel-indicators button {
  width: 45px;
  height: 2px;
  margin: 0 14px;
  border: none;
  transition: all 200ms;
  -webkit-transition: all 200ms;
  -moz-transition: all 200ms;
  -ms-transition: all 200ms;
  -o-transition: all 200ms;
}

.carousel .carousel-indicators :not(.active) {
  background: #b1b1b1;
}

.carousel .carousel-indicators .active {
  background: #ffffff;
}

.clickable {
  cursor: pointer;
}

.react-multiple-carousel__arrow {
  z-index: 100 !important;
}

/* Filepond Styles */

.filepond--root {
  margin: 0 !important;
}

.filepond--credits,
.filepond--action-process-item {
  display: none;
}

.filepond--drop-label,
.filepond--file-status-main {
  direction: rtl;
}

.filepond--drop-label {
  height: auto !important;
}

.filepond-max-file-size-label {
  font-size: 12px !important;
}

/* Map */

.mapboxgl-ctrl-bottom-right,
.mapboxgl-ctrl-bottom-left {
  display: none !important;
}

#map {
  height: 700px;
  max-height: 70vh;
  width: 100%;
}

/* Recommandations */

.carousel-container {
  direction: ltr;
}

.carousel-item-padding-40-px {
  padding: 40px;
}

/* Every Title usage */
.page-title {
  position: relative;
  margin-top: 100px;
}

.page-title h1 {
  font-weight: 100;
  font-size: 50px;
}

.page-subtitle {
  font-size: 20px;
  max-width: 42rem;
  margin: auto;
  color: #575757;
  margin-bottom: 100px;
}

.text-shine {
  text-align: center;
  color: rgba(255, 255, 255, 0.1);
  background: gradient(linear, right top, left top, from(var(--gold-secondary)), to(var(--gold-secondary)), color-stop(0.5, #fff));
  background: -moz-gradient(linear, right top, left top, from(var(--gold-secondary)), to(var(--gold-secondary)), color-stop(0.5, #fff));
  background: -webkit-gradient(linear, right top, left top, from(var(--gold-secondary)), to(var(--gold-secondary)), color-stop(0.5, #fff));
  -webkit-background-size: 125px 100%;
  -moz-background-size: 125px 100%;
  background-size: 125px 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  background-repeat: no-repeat;
  background-position: 0 right;
  background-color: var(--gold-secondary);
  animation: shine 2.5s infinite linear;
  -webkit-animation: shine 2.5s infinite linear;
}

@keyframes shine {
  0% {
    background-position: top right;
  }

  100% {
    background-position: top left;
  }
}

@media (max-width: 553px) {
  .text-shine {
    padding: 0 100px;
  }
}

/* Accessbily Widget */
#enable-toolbar-trigger .keyboard-shorcut {
  left: 55px !important;
  top: 15px !important;
  fill: #313b47 !important;
  background: #313b47 !important;
  color: white !important;
}

#enable-toolbar-trigger svg {
  width: 56px !important;
  height: 56px !important;
}

#enable-toolbar-trigger-svg circle.a,
#enable-toolbar-trigger-svg .enable-trigger-check,
#enable-toolbar-trigger-svg .shadow {
  display: none !important;
}

.enable-trigger-circle {
  fill: #313b47 !important;
  background: #313b47 !important;
  color: white !important;
}

@media (max-width: 480px) {
  body.trigger-size-small #enable-toolbar svg#enable-toolbar-trigger-svg {
    transform: scale(0.7) !important;
    -webkit-transform: scale(0.7) !important;
    -moz-transform: scale(0.7) !important;
    -ms-transform: scale(0.7) !important;
    -o-transform: scale(0.7) !important;
  }
}

@media (min-width: 1400px) {
  .container.custom-size-container {
    max-width: 1540px !important;
  }
}

/* Medium Zoom */
[data-rmiz-wrap="visible"],
[data-rmiz-wrap="hidden"] {
  width: 100%;
  height: 100%;
}