.homeMainDiv {
  font-family: 'Alef', sans-serif;
}

.homeVideoTitleContainer {
  position: relative;
  justify-content: center;
  display: flex;
  overflow: hidden !important;
  width: 100%;
}

.homeVideoTitleContainer video {
  position: relative;
  z-index: 0;
}

.homeTitleOverlayVideo {
  position: absolute;
  color: white;
  top: 50vh;
  max-width: 100vw;
  margin-top: 40px;
  transform: translateY(-50%);
  z-index: 20;
  padding: 0 20px;
  text-shadow: 0px 0px 10px black;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

.homeTitleOverlayVideo h1 {
  font-size: 50px;
}

.homeStartVideo {
  object-fit: cover;
  height: 100vh;
  width: 100%;
}

.homeContent {
  width: 100%;
  display: inline-block;
}

.inOurCustomersText {
  font-size: 20px !important;
  font-weight: bold;
  color: #3c3c3c;
  margin-top: 30px;
}

.threeContentOfHome {
  width: 100%;
  margin: 0;
  overflow: hidden;
  border-top: 3px solid black;
}

.threeContentOfHome div {
  padding: 90px 50px;
  text-align: center;
  color: white;
}

.threeContentOfHome div h3 {
  margin-bottom: 20px;
  font-size: 40px;
  font-weight: bold;
}

.threeContentOfHome div p {
  font-style: italic;
}

.threeContentOfHome div:nth-child(1) {
  background: #a0a0a0;
}

.threeContentOfHome div:nth-child(2) {
  background: #494949;
}

.threeContentOfHome div:nth-child(3) {
  background: #000000;
}

.aboutUsContainer {
  padding: 90px 50px;
  text-align: center;
  color: black;
  background: white;
  border-bottom: 3px solid black;
  border-top: 1px solid black;
}

.aboutUsContainer img {
  height: 80px;
}

.aboutUsContainer h3 {
  font-size: 42px;
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 20px;
}

.aboutUsContainer p {
  max-width: 800px;
  text-align: center;
  margin: auto;
  margin-bottom: 45px;
  font-size: 20px;
}

.framedBtn {
  margin: auto;
  border: 1px solid #333;
  font-size: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 0;
  transition: all 1s;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
}

.whiteBackgroundframedBtn,
.whiteBackgroundframedBtn::before,
.whiteBackgroundframedBtn::after {
  background: #ffffff;
}

.grayBackgroundframedBtn,
.grayBackgroundframedBtn::before,
.grayBackgroundframedBtn::after {
  background: #f2f2f2;
}

.framedBtn::before,
.framedBtn::after {
  position: absolute;
  z-index: -1;
  transition: 1s;
  content: '';
}

.framedBtn a {
  text-decoration: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.framedBtn:hover::before {
  width: 0px;
}

.framedBtn:hover::after {
  height: 0px;
}

.aboutUsHref {
  width: 250px;
  height: 80px;
}

.aboutUsHref::before {
  height: 80px;
  width: 230px;
}

.aboutUsHref::after {
  width: 250px;
  height: 60px;
}

.aboutUsHref a {
  color: black;
}

.aboutUsHref:hover::before {
  background: #d1d1d1;
}

.aboutUsHref:hover::after {
  background: #d1d1d1;
}

.aboutUsHref:hover {
  background: #d1d1d1;
}

.newProductsHref {
  width: 150px;
  height: 50px;
}

.newProductsHref::before {
  height: 50px;
  width: 130px;
}

.newProductsHref::after {
  width: 150px;
  height: 30px;
}

.newProductsHref a {
  color: black;
}

.newProductsHref:hover::before {
  background: #d1d1d1;
}

.newProductsHref:hover::after {
  background: #d1d1d1;
}

.newProductsHref:hover {
  background: #d1d1d1;
}

.linksToProducts {
  width: 100%;
  direction: ltr;
  flex-direction: row-reverse;
  margin-right: 0;
  margin-left: 0;
}

.colLinkToProduct {
  padding: 2vw;
}

.linksToProducts img {
  width: 100%;
}

.linkToOtherPageContainer {
  width: 100%;
  margin: 0;
  background: #f2f2f2;
}

.linkToOtherPageContainer>div {
  padding: 0;
}

.linkToOtherPageContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.linkToOtherPageContainer .linkToOtherPageContent {
  align-self: center;
  margin-bottom: 40px;
  padding: 35px 0;
}

.linkToOtherPageContainer .linkToOtherPageContent h3 {
  font-size: 40px;
  font-weight: bold;
  margin: 25px auto;
}

.linkToOtherPageContainer .linkToOtherPageContent p {
  max-width: 650px;
  margin: auto;
  text-align: center;
  margin-bottom: 90px;
  padding: 0 40px;
  font-size: 18px;
}

.linkToOtherPageContainer .linkToOtherPageTitleSeperator {
  height: 1px;
  width: 100%;
  max-width: 150px;
  background-color: #6e6e6e;
  margin: 0 auto 50px auto;
}

.homeContactUsContainer {
  width: 100%;
  margin: 0;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #aaaaaa;
  background-image: url(https://peer-anfon-group.co.il/images/backgrounds/home-contact-us.jpeg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: white;
}

.homeContactUsTitle h2 {
  font-size: 45px;
  font-weight: bold;
}

.homeContactUsTitle p {
  margin-bottom: 60px;
  font-size: 20px;
}

.recommandUsLink {
  color: #b98f33;
  letter-spacing: 1px;
  text-decoration: none;
  transition: color 0.4s;
  -webkit-transition: color 0.4s;
  -moz-transition: color 0.4s;
  -ms-transition: color 0.4s;
  -o-transition: color 0.4s;
}

.recommandUsLink:hover {
  color: #dfbd7a;
}