.mainContainer {
    margin-top: 14rem !important;
}

.subTitleDiv {
    margin-top: 7rem;
}

.subTitleDiv h3 {
    color: var(--gold-secondary);
    font-weight: 100;
    font-size: 35px;
}

.subTitleDiv h5 {
    color: #353535;
    font-weight: 100;
    font-size: 15px;
}

.titleIntercomImg {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.titleRowMargin {
    margin-top: 5rem;
}

.titleParagraph {
    align-self: center;
    letter-spacing: 1px;
    text-align: right;
    padding: 30px;
    font-size: 16px;
}

@media (max-width: 991px) {
    .reverseOnLgScreen {
        flex-direction: column-reverse;
    }
}

.gallery {
    padding: 10px;
    max-width: 1500px;
    margin: 0 auto;
    background: #f2f2f2;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    grid-auto-rows: 230px;
}

.nerostaGallery {
    padding: 10px;
    max-width: 1500px;
    margin: 0 auto;
    background: #f2f2f2;
}

.hoverImgContainer {
    position: relative;
}

.hoverImgContainer:hover img {
    opacity: 0.3;
}

.hoverImgContainer:hover .hoverImgMiddle {
    opacity: 1;
}

.hoverImgMiddle {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transition: .5s ease-in-out;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -ms-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.hoverImgText {
    background-color: #b3a073;
    color: white;
    font-size: 16px;
    font-family: monospace;
    padding: 16px 32px;
}

.gallery img,
.nerostaGallery img {
    opacity: 1;
    display: block;
    height: 100%;
    width: 100%;
    background: white;
    object-fit: contain;
    backface-visibility: hidden;
    transition: .5s ease-in-out;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -ms-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
}

.galleryGap {
    row-gap: 40px;
}