.projectsRow {
    row-gap: 40px;
    justify-content: center;
}

.headerProject {
    text-align: right;
}

.headerProject h2 {
    font-size: 40px;
    font-weight: 100;
}

.headerProject p {
    margin-top: 30px;
    font-weight: 600;
    max-width: 684px;
}

.headerProject .about {
    margin-top: 30px;
    color: #999;
    font-weight: 600;
    letter-spacing: 1px;
}

.headerProject .projectHeaderContentSeparator {
    width: 100%;
    height: 4px;
    background-color: #000000;
    margin-top: 15px;
    margin-bottom: 30px;
}

.headerProject .dateIcon {
    margin-left: 15px;
    font-size: 14px;
}

.galleryDescription {
    padding: 60px 50px 20px;
    background: #decb9c;
    margin-left: auto;
    max-width: 800px;
    margin-bottom: 4rem
}

.galleryDescription h3 {
    text-align: right;
    color: #000;
    font-size: 46px;
    font-weight: 100;
    line-height: 1.25;
    padding-bottom: 15px;
}

.galleryDescription p {
    font-size: 19px;
    line-height: 1.45;
    text-align: right;
    font-weight: 300;
}

@media (max-width: 991px) {
    .galleryDescription h3 {
        font-size: 30px;
    }

    .galleryDescription p {
        font-size: 17px;
    }
}

.mainExplanationBoxSeperator {
    width: 100%;
    height: 4px;
    background-color: #000000;
    margin-top: 15px;
    margin-bottom: 30px;
}